body{
    background-color: cadetblue;
}
.logo{
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.imgs{
    margin: auto;
    padding-top: 30px;
    text-align: center;
}
.img_b{
    border-radius: 15px;
}
.list{
    margin-top: 10px;
    text-align: center;
    background: linear-gradient(to right, #1c7ed6, #9c36b5);
    -webkit-background-clip: text;
    color: transparent;
}
.article{
    width: 90%;
    border-radius: 10px;
    margin: auto;
    background-color: gainsboro;
    margin-top: 50px;
    margin-bottom: 50px;
}
.title{
    padding-top: 50px;
    text-align: center;
    background: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    color: transparent;
}
a{
    text-decoration: none;
}
.paragraph{
    padding-top: 50px;
    margin: auto;
    width: 90%;
}
.author{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    background: linear-gradient(to right, blueviolet, aquamarine);
    -webkit-background-clip: text;
    color: transparent;
}

/* changes BORBER  For loding*/
.loader {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #222222;
    text-align: center;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}
.loader-content {
    position: absolute;
    text-align: center;
    width: 110px;
    height: 95px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}
.loading {
    width: 80px;
    height: 40px;
    margin: 0 auto;
    margin-top: 100px;
}
.loading span {
    display: inline-block;
    width: 8px;
    height: 100%;
    border-radius: 4px;
    background: #4691ee;
    -webkit-animation: load 1s ease infinite;
}
@-webkit-keyframes load {
    0%,
    100% {
        height: 40px;
        background: #38acee;
    }
    50% {
        height: 70px;
        margin: -15px 0;
        background: #87d5e6;
    }
}
.loading span:nth-child(2) {
    -webkit-animation-delay: 0.2s;
}
.loading span:nth-child(3) {
    -webkit-animation-delay: 0.4s;
}
.loading span:nth-child(4) {
    -webkit-animation-delay: 0.6s;
}
.loading span:nth-child(5) {
    -webkit-animation-delay: 0.8s;
}